::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #D7D7D7;
}

::-webkit-scrollbar-thumb:hover {
  background: #D5BEC1;
}

.thin-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  .thin-scrollbar::-webkit-scrollbar-track {
    background: #F2F2F2;
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #D7D7D7;
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #D5BEC1;
  }
  